{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if tasks %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    {% for data in tasks %}
                        <tbody>
                            <td>{{ data.name }}</td>
                            <td>{{ data.start_date }}</td>
                            <td>{{ data.due_date }}</td>
                            <td>{{ data.is_completed|yesno }}</td>
                        </tbody>
                    {% endfor %}
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
