{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ project_view.name }}</h1>
            <p>{{ project_view.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if tasks %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    {% for data in tasks %}
                        <tbody>
                            <td>{{ data.name }}</td>
                            <td>{{ data.assignee }}</td>
                            <td>{{ data.start_date }}</td>
                            <td>{{ data.end_date }}</td>
                            <td>{{ data.is_completed|yesno }}</td>
                        </tbody>
                    {% endfor %}
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
